<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DemoWebMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoWebMVC.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/frontend/assets/css/style.css">
</head>

<body>
    <header>
        <div style="background-color:#b1d238 ;">
            <p></p>
        </div>
        <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark" style="background-color: #0c6363">
            <div class="container">
                <a class="navbar-brand container-logo" asp-controller="Home" asp-action="Index">
                    <img class="header-logo" src="~/frontend/assets/img/logo/boologo.png">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    @*Category view component*@
                    @await Component.InvokeAsync("Category")
                    <form class="d-flex" role="search" method="get">
                        <input class="form-control me-2" name="searchString" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light" type="submit" asp-controller="Product" asp-action="SearchProducts">Search</button>
                    </form>
                </div> <!-- navbar-collapse.// -->
            </div> <!-- container-fluid.// -->
        </nav>
    </header>
    <div class="container-fluid d-flex">
        <main role="main" class="">
                @RenderBody()
        </main>
        <div style="height: 800px"></div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DemoWebMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="~/frontend/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
