@page 
@using RAShop.CustomerSite.Pages.Home
@using RAShop.Shared.DTO.Auth
@model Register
<div class="container container-login-form">
  <h2>Đăng ký</h2>
  <form asp-page="/Auth/Register" asp-page-handler="Register" method="post" id="registerForm" class="login-form">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="userName" name="UserName" placeholder="UserName">
          <label for="floatingInput">Tên đăng nhập</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" name="Email" placeholder="Email">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
          <label for="floatingPassword">Mật khẩu</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword">
          <label for="floatingPassword">Xác nhận mật khẩu</label>
        </div>
        <button type="submit" class="btn btn-success btn-login">Đăng ký</button>
  </form>
</div>