html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-logo{
    max-width: 148px;
    height: auto;
}
.logo-hide{
    display: none;
}
.header-logo{
    max-width: 100%;
}
.nav-item{
    margin: 0px 12px;
}
